@model IEnumerable<RefugioMascotas.Models.Adopcion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ADOPTAR MASCOTA</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table shadow-sm">
    <thead class="card-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAdopcion)
            </th>
            <th>
               Nombre Mascota
            </th>
            <th>
                Nombre Adoptante
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="card-body">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAdopcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MascotaNavigation!.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdoptanteNavigation!.Nombre)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IdAdopcion"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Edit" asp-route-id="@item.IdAdopcion"> <i class="fa-solid fa-pen-to-square btnGris"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAdopcion"><i class="fa-solid fa-trash btnRojo"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
